  <div id="content" class="floatwrap">
  <div id="contentArea" class="floatwrap">

    <%= render partial: 'layouts/side' %>

    <div id="main">
    <div class="main_header"></div>

      <%= yield %>

      <h2>条件で探す 一戸建て</h2>

      <div class="floatwrap">

      <p>一戸建て</p>

      <p>&nbsp;</p>

      </div><!-- end div.floatwrap -->


    <div class="main_footer"></div>
    </div><!-- end div#main -->

  </div><!-- end div#contentArea -->
  </div><!-- end div#content -->
