  <div id="content" class="floatwrap">
  <div id="contentArea" class="floatwrap">

    <%= render partial: 'layouts/side' %>

    <div id="main">
    <div class="main_header"></div>

      <%= yield %>

      <h2>アバランチ阿佐ヶ谷</h2>

      <p>＜2013年6月OPEN＞秘密基地風のコワーキング・スペース付きシェアハウス！あちこちにお気に入りの漫画やおもちゃ。佇まいは少年時代、友達と作ったあの秘密基地のよう。みんなで集まり、夢中で遊んでいたあの頃を思い出させてくれるようなシェアハウス、それが「アバランチ阿佐ヶ谷」です。ハウスの奥には未来戦略室と呼ばれる入居者専用のコワーキング・スペースがあり、プライベートの線引きが図れるビジネス用途はもちろん、メンバーみんなでイベントを企画したり、プロジェクターと100インチスクリーンを使って映画鑑賞会も可能です。我々と一緒にこの秘密基地で楽しい企画をどんどん創っていきましょう！</p>

      <table border="0" cellpadding="0" cellspacing="0" class="room">

        <tr>
          <th>住所</th>
          <td>〒166-0004<br>
          東京都杉並区阿佐ヶ谷南１−２５−２５
          </td>
        </tr>

        <tr>
          <th>事業者名（社名）</th>
          <td>TEAMスキマジャパン</td>
        </tr>

        <tr>
          <th>入居希望者対応者</th>
          <td>清水　優紀（シミズ ユウキ）</td>
        </tr>

        <tr>
          <th>入居希望者対応者連絡先</th>
          <td>
          電話：070-5517-7096<br>
          メール：<a href="mailto:shimizu@sukimajapan.com">shimizu@sukimajapan.com</a>
          </td>
        </tr>

        <tr>
          <th>最寄駅</th>
          <td>
          ＪＲ各線「阿佐ヶ谷」駅 徒歩7分<br>東京メトロ丸の内線「南阿佐ヶ谷」駅 徒歩10分
          </td>
        </tr>

        <tr>
          <th>周辺環境</th>
          <td>スーパー（西友＆イトーヨーカドー：徒歩7分）、コンビニ（サンクス・徒歩2分）、全長700ｍの長い商店街（パールセンター商店街・徒歩５分）</td>
        </tr>

        <tr>
          <th>共用部清掃</th>
          <td>
          清掃業者<br>
          住人当番　※住人委託制度あり（報酬有り）
          </td>
        </tr>

        <tr>
          <th>居住者ルール</th>
          <td>館内禁煙</td>
        </tr>

        <tr>
          <th>入居条件</th>
          <td>
          身分証明書 ※外国人の方はパスポート、外国人登録証明書、日常会話程度の日本語が必要
          </td>
        </tr>

        <tr>
          <th>共用設備</th>
          <td>
          バスルーム（風呂）：1室（無料）<br>
          シャワールーム：1室（無料）<br>
          トイレ洋式2個（ウォシュレット　暖房便座）<br>
          洗面台2台（男女兼用）<br>
          洗濯機2台（無料）<br>
          共用リビング1箇所<br>
          共用TV1台（HDD録画、ブルーレイ、プロジェクター）<br>
          共用キッチン1箇所<br>
          駐輪場・駐車場（自転車用有り、オートバイ有り）車8台まで（月額15,000円）<br>
          庭、コワーキングスペースあり<br>
          </td>
        </tr>

        <tr>
          <th>共用のPC・インターネット設備</th>
          <td>
          インターネット回線　FTTH（光）<br>
          共用のPCなし<br>
          共用部無線LAN環境有り<br>
          </td>
        </tr>

      </table>

      <p>&nbsp;</p>


    <div class="main_footer"></div>
    </div><!-- end div#main -->

  </div><!-- end div#contentArea -->
  </div><!-- end div#content -->
