  <div id="content" class="floatwrap">
  <div id="contentArea" class="floatwrap">

    <%= render partial: 'layouts/side' %>

    <div id="main">
    <div class="main_header"></div>

      <%= yield %>

      <h2>物件一覧</h2>

      <div class="floatwrap">

      <p><%= link_to 'アバランチ阿佐ヶ谷', "/room/abaranchiasagaya" %></p>
      <p><%= link_to 'WHITE HOUSE 桜台', "/room/whitehousesakuradai" %></p>

      <p>&nbsp;</p>

      </div><!-- end div.floatwrap -->


    <div class="main_footer"></div>
    </div><!-- end div#main -->

  </div><!-- end div#contentArea -->
  </div><!-- end div#content -->
