  <div id="content" class="floatwrap">
  <div id="contentArea" class="floatwrap">

    <%= render partial: 'layouts/side' %>

    <div id="main">
    <div class="main_header"></div>

      <%= yield %>

      <h2>WHITE HOUSE 桜台【女性専用物件】</h2>


      <p>2013年6月OPEN！趣味のイベントやホームパーティー、作品展示会、ワークショップ等を企画して活動するアクティブ女子の為のシェアハウスです！共用部にある14畳の広いリビング＆ギャラリーは、入居いただく皆さまが自由に利用することができます。みなさんもWHITE HOUSEで夢や目標への一歩を踏み出しませんか？耐震、耐火設計になっており、防災面でも安心。このシェアハウスが“人が集い、目標を持つ方々がつながる場所”となって、素敵なご縁が広がっていくことを願っています。</p>

      <table border="0" cellpadding="0" cellspacing="0" class="room">

        <tr>
          <th>住所</th>
          <td>〒176-0002<br>
          東京都練馬区桜台２丁目４９−１
          </td>
        </tr>

        <tr>
          <th>事業者名（社名）</th>
          <td>TEAMスキマジャパン</td>
        </tr>

        <tr>
          <th>入居希望者対応者</th>
          <td>清水　優紀（シミズ ユウキ）</td>
        </tr>

        <tr>
          <th>入居希望者対応者連絡先</th>
          <td>
          電話：070-5517-7096<br>
          メール：<a href="mailto:shimizu@sukimajapan.com">shimizu@sukimajapan.com</a>
          </td>
        </tr>

        <tr>
          <th>最寄駅</th>
          <td>
          西武池袋線「桜台」駅 徒歩7分<br>東京メトロ有楽町・副都心線「氷川台」駅 徒歩10分
          </td>
        </tr>

        <tr>
          <th>周辺環境</th>
          <td>スーパー（徒歩８分）、コンビニ（サンクス・徒歩2分）</td>
        </tr>

        <tr>
          <th>共用部清掃</th>
          <td>
          清掃業者<br>
          住人当番　※住人委託制度あり（報酬有り）
          </td>
        </tr>

        <tr>
          <th>居住者ルール</th>
          <td>敷地内禁煙</td>
        </tr>

        <tr>
          <th>入居条件</th>
          <td>
          女性専用物件　男性の入居不可<br>
          身分証明書 ※外国人の方はパスポート、外国人登録証明書、日常会話程度の日本語が必要
          </td>
        </tr>

        <tr>
          <th>共用設備</th>
          <td>
          バスルーム（風呂）：1室（無料）<br>
          トイレ（ウォシュレット　暖房便座）<br>
          洗面所2台（シャワー水栓）<br>
          洗濯機1台（無料）<br>
          共用リビング2箇所<br>
          共用TV1台（HDD録画）<br>
          共用キッチン1箇所<br>
          駐輪場・駐車場（自転車用有り、オートバイ有り）※2台まで無料<br>
          庭あり<br>
          </td>
        </tr>

        <tr>
          <th>共用のPC・インターネット設備</th>
          <td>
          インターネット回線　FTTH（光）<br>
          共用のPCなし<br>
          共用部LAN環境有り<br>
          </td>
        </tr>

      </table>

      <p>&nbsp;</p>


    <div class="main_footer"></div>
    </div><!-- end div#main -->

  </div><!-- end div#contentArea -->
  </div><!-- end div#content -->
