  <div id="content" class="floatwrap">
  <div id="contentArea" class="floatwrap">

    <%= render partial: 'layouts/side' %>

    <div id="main">
    <div class="main_header"></div>

      <%= yield %>

      <h2>ルームシェア東京とは？</h2>

      <p>ルームシェア東京は、ルームシェア＆シェアハウス物件専門の賃貸情報サイトです。<br>
      他のサイトにはない専門情報があることはもちろん、シェア生活に関する各種の情報提供やサポートなども行っています。</p>

      <div class="check_or">「もっと自由に、もっとワガママにシェア生活をしたい！」</div>

      <div class="check_or">「大好きな仲間たちと一緒に住める環境がほしい！」</div>

      <div class="check_or">「シェアなんだから、もっと費用を抑えたい！」</div>

      <div class="check_or">「自分達でカスタマイズしたり、インテリアをコーディネイトしたい！」</div>

      <div class="check_or">「住みたい場所にシェアハウスがない！」</div>

      <p>そんな想いを持った皆様の為に、ルームシェア可能な良質な物件や自由度の高いシェアハウスを厳選してお届けしてまいります！</p>

      <p>皆さんの快適なシェア生活を全力で応援いたしますので、是非、お気軽にご相談ください！！</p>

      <p>&nbsp;</p>

      <h2>物件のリクエストについて</h2>

      <p>当社で管理している物件は、サイトに掲載しているものが全てではありません。</p>

      <p>気に入った物件がなかった場合は、<a href="/inquiry/pr/">【物件リクエスト】</a>より、ご希望の内容をお知らせください。</p>

      <p>皆さんのこだわり物件探しをしっかりとサポートさせていただきます！</p>

    <div class="main_footer"></div>
    </div><!-- end div#main -->

  </div><!-- end div#contentArea -->
  </div><!-- end div#content -->
