  <div id="content" class="floatwrap">
  <div id="contentArea" class="floatwrap">

    <%= render partial: 'layouts/side' %>

    <div id="main">
    <div class="main_header"></div>

      <%= yield %>

      <h2>運営会社</h2>

      <table border="0" cellpadding="0" cellspacing="0" class="corp">

        <tr>
          <th>運営会社</th>
          <td>TEAMスキマジャパン</td>
        </tr>

        <tr>
          <th>協力会社</th>
          <td>株式会社東京みらい不動産</td>
        </tr>

        <tr>
          <th>宅建免許番号</th>
          <td>東京都知事免許（１）第９４５１５号</td>
        </tr>

        <tr>
          <th>所属団体</th>
          <td>
            (公社)東京都宅地建物取引業協会会員<br>
            (公社)首都圏不動産公正取引協議会加盟
          </td>
        </tr>

        <tr>
          <th>保証協会</th>
          <td>(公社)全国宅地建物取引業保証協会</td>
        </tr>

        <tr>
          <th>TEL</th>
          <td>070-5517-7096</td>
        </tr>

        <tr>
          <th>FAX</th>
          <td>03-6740-6436</td>
        </tr>

        <tr>
          <th>MAIL</th>
          <td><a href="mailto:info@sukimajapan.com">info@sukimajapan.com</a></td>
        </tr>

        <tr>
          <th>住所</th>
          <td>東京都杉並区阿佐谷南1-8-3-1Ａ</td>
        </tr>

        <tr>
          <th>営業時間</th>
          <td>10:00～20:00</td>
        </tr>

        <tr>
          <th>定休日</th>
          <td>年中無休（年末年始除く）</td>
        </tr>

      </table>

      <p>&nbsp;</p>


    <div class="main_footer"></div>
    </div><!-- end div#main -->

  </div><!-- end div#contentArea -->
  </div><!-- end div#content -->
