  <div id="content" class="floatwrap">
  <div id="contentArea" class="floatwrap">

    <% render :partial => 'layouts/side' %>

    <div id="main">
    <div class="main_header"></div>

      <%= yield %>

      <div class="floatwrap">
      
      <div class="main_left">
      <h6><img src="/assets/main_tit_01.jpg" alt="おすすめ！ルームシェア物件" width="356" height="46" /></h6>
        <div class="main_spec_or">
          <div class="main_spec_left">
            <div class="main_spec_tit">賃貸一戸建て</div>          
            <div class="main_spec_access">東急東横線　菊名5分</div>          
            <div class="main_spec_pict"><img src="/assets/bukken_pict.jpg" width="150" height="113"></div>          
          </div><!-- end div.main_spec_left -->
          <div class="main_spec_right">
            <div class="main_spec_rtit"> 家賃○円、共益費○円</div>
            <div class="main_spec_rtxt">         
            住所：横浜市港北区<br>
            面積：121.63㎡<br>
            間取り：４ＬＤＫ<br>
            個室：６畳×2、７畳、5.5畳<br>
            敷金：１ヶ月<br>
            礼金：１ヶ月</div>
            </div><!-- end div.main_spec_right -->
            <div class="main_spec_copy">
            3名以上の仲良しグループにオススメ！
            </div><!-- end div.main_spec_copy -->
        </div><!-- end div.main_spec_or -->
        <div class="main_spec_or">
          <div class="main_spec_left">
            <div class="main_spec_tit">賃貸一戸建て</div>          
            <div class="main_spec_access">東急東横線　菊名5分</div>          
            <div class="main_spec_pict"><img src="/assets/bukken_pict.jpg" width="150" height="113"></div>          
          </div><!-- end div.main_spec_left -->
          <div class="main_spec_right">
            <div class="main_spec_rtit"> 家賃○円、共益費○円</div>
            <div class="main_spec_rtxt">         
            住所：横浜市港北区<br>
            面積：121.63㎡<br>
            間取り：４ＬＤＫ<br>
            個室：６畳×2、７畳、5.5畳<br>
            敷金：１ヶ月<br>
            礼金：１ヶ月</div>
            </div><!-- end div.main_spec_right -->
            <div class="main_spec_copy">
            3名以上の仲良しグループにオススメ！
            </div><!-- end div.main_spec_copy -->
        </div><!-- end div.main_spec_or -->
      </div><!-- end div.main_left -->

      <div class="main_right">
      <h6><img src="/assets/main_tit_02.jpg" alt="新着！ルームシェア物件" width="356" height="46" /></h6>
        <div class="main_spec_gr">
          <div class="main_spec_left">
            <div class="main_spec_tit">賃貸一戸建て</div>          
            <div class="main_spec_access">東急東横線　菊名5分</div>          
            <div class="main_spec_pict"><img src="/assets/bukken_pict.jpg" width="150" height="113"></div>          
          </div><!-- end div.main_spec_left -->
          <div class="main_spec_right">
            <div class="main_spec_rtit"> 家賃○円、共益費○円</div>
            <div class="main_spec_rtxt">         
            住所：横浜市港北区<br>
            面積：121.63㎡<br>
            間取り：４ＬＤＫ<br>
            個室：６畳×2、７畳、5.5畳<br>
            敷金：１ヶ月<br>
            礼金：１ヶ月</div>
            </div><!-- end div.main_spec_right -->
            <div class="main_spec_copy">
            3名以上の仲良しグループにオススメ！
            </div><!-- end div.main_spec_copy -->
        </div><!-- end div.main_spec_or -->
        <div class="main_spec_gr">
          <div class="main_spec_left">
            <div class="main_spec_tit">賃貸一戸建て</div>          
            <div class="main_spec_access">東急東横線　菊名5分</div>          
            <div class="main_spec_pict"><img src="/assets/bukken_pict.jpg" width="150" height="113"></div>          
          </div><!-- end div.main_spec_left -->
          <div class="main_spec_right">
            <div class="main_spec_rtit"> 家賃○円、共益費○円</div>
            <div class="main_spec_rtxt">         
            住所：横浜市港北区<br>
            面積：121.63㎡<br>
            間取り：４ＬＤＫ<br>
            個室：６畳×2、７畳、5.5畳<br>
            敷金：１ヶ月<br>
            礼金：１ヶ月</div>
            </div><!-- end div.main_spec_right -->
            <div class="main_spec_copy">
            3名以上の仲良しグループにオススメ！
            </div><!-- end div.main_spec_copy -->
        </div><!-- end div.main_spec_or -->
      </div><!-- end div.main_right -->

      </div><!-- end div.floatwrap -->
    
      <div class="floatwrap mgnt20">
      
      <div class="main_left">
      <h6><img src="/assets/main_tit_03.jpg" alt="おすすめ！ルームシェア物件" width="356" height="46" /></h6>
        <div class="main_spec_or">
          <div class="main_spec_left">
            <div class="main_spec_tit">賃貸一戸建て</div>          
            <div class="main_spec_access">東急東横線　菊名5分</div>          
            <div class="main_spec_pict"><img src="/assets/bukken_pict.jpg" width="150" height="113"></div>          
          </div><!-- end div.main_spec_left -->
          <div class="main_spec_right">
            <div class="main_spec_rtit"> 家賃○円、共益費○円</div>
            <div class="main_spec_rtxt">         
            住所：横浜市港北区<br>
            面積：121.63㎡<br>
            間取り：４ＬＤＫ<br>
            個室：６畳×2、７畳、5.5畳<br>
            敷金：１ヶ月<br>
            礼金：１ヶ月</div>
            </div><!-- end div.main_spec_right -->
            <div class="main_spec_copy">
            3名以上の仲良しグループにオススメ！
            </div><!-- end div.main_spec_copy -->
        </div><!-- end div.main_spec_or -->
        <div class="main_spec_or">
          <div class="main_spec_left">
            <div class="main_spec_tit">賃貸一戸建て</div>          
            <div class="main_spec_access">東急東横線　菊名5分</div>          
            <div class="main_spec_pict"><img src="/assets/bukken_pict.jpg" width="150" height="113"></div>          
          </div><!-- end div.main_spec_left -->
          <div class="main_spec_right">
            <div class="main_spec_rtit"> 家賃○円、共益費○円</div>
            <div class="main_spec_rtxt">         
            住所：横浜市港北区<br>
            面積：121.63㎡<br>
            間取り：４ＬＤＫ<br>
            個室：６畳×2、７畳、5.5畳<br>
            敷金：１ヶ月<br>
            礼金：１ヶ月</div>
            </div><!-- end div.main_spec_right -->
            <div class="main_spec_copy">
            3名以上の仲良しグループにオススメ！
            </div><!-- end div.main_spec_copy -->

        </div><!-- end div.main_spec_or -->
      </div><!-- end div.main_left -->

      <div class="main_right">
      <h6><img src="/assets/main_tit_04.jpg" alt="新着！ルームシェア物件" width="356" height="46" /></h6>
        <div class="main_spec_gr">
          <div class="main_spec_left">
            <div class="main_spec_tit">賃貸一戸建て</div>          
            <div class="main_spec_access">東急東横線　菊名5分</div>          
            <div class="main_spec_pict"><img src="/assets/bukken_pict.jpg" width="150" height="113"></div>          
          </div><!-- end div.main_spec_left -->
          <div class="main_spec_right">
            <div class="main_spec_rtit"> 家賃○円、共益費○円</div>
            <div class="main_spec_rtxt">         
            住所：横浜市港北区<br>
            面積：121.63㎡<br>
            間取り：４ＬＤＫ<br>
            個室：６畳×2、７畳、5.5畳<br>
            敷金：１ヶ月<br>
            礼金：１ヶ月</div>
            </div><!-- end div.main_spec_right -->
            <div class="main_spec_copy">
            3名以上の仲良しグループにオススメ！
            </div><!-- end div.main_spec_copy -->

        </div><!-- end div.main_spec_or -->
        <div class="main_spec_gr">

          <div class="main_spec_left">
            <div class="main_spec_tit">賃貸一戸建て</div>          
            <div class="main_spec_access">東急東横線　菊名5分</div>          
            <div class="main_spec_pict"><img src="/assets/bukken_pict.jpg" width="150" height="113"></div>          
          </div><!-- end div.main_spec_left -->
          <div class="main_spec_right">
            <div class="main_spec_rtit"> 家賃○円、共益費○円</div>
            <div class="main_spec_rtxt">         
            住所：横浜市港北区<br>
            面積：121.63㎡<br>
            間取り：４ＬＤＫ<br>
            個室：６畳×2、７畳、5.5畳<br>
            敷金：１ヶ月<br>
            礼金：１ヶ月</div>
            </div><!-- end div.main_spec_right -->
            <div class="main_spec_copy">
            3名以上の仲良しグループにオススメ！
            </div><!-- end div.main_spec_copy -->

        </div><!-- end div.main_spec_or -->
      </div><!-- end div.main_right -->

      </div><!-- end div.floatwrap -->

      <div id="news">
        <h6 class="mgnt30"><img src="/assets/main_information.jpg" alt="ルームシェア東京からのお知らせ" width="714" height="44" /></h6>
        <ul>
        <li><span class="green">2013.4.1</span> ルームシェア東京スタートしました</li>
        <li><span class="green">2013.4.1</span> ルームシェア東京スタートしました</li>
        <li><span class="green">2013.4.1</span> ルームシェア東京スタートしました</li>
        </ul>
      </div><!-- end div#news -->

    <div class="main_footer"></div>
    </div><!-- end div#main -->

  </div><!-- end div#contentArea -->
  </div><!-- end div#content -->
