  <div id="content" class="floatwrap">
  <div id="contentArea" class="floatwrap">

    <%= render partial: 'layouts/side' %>

    <div id="main">
    <div class="main_header"></div>

      <%= yield %>

      <h2>間取り別で探す 4K～</h2>

      <div class="floatwrap">

      <p>4K～</p>

      <p>&nbsp;</p>

      </div><!-- end div.floatwrap -->


    <div class="main_footer"></div>
    </div><!-- end div#main -->

  </div><!-- end div#contentArea -->
  </div><!-- end div#content -->
