<div id="content" class="floatwrap">
<div id="contentArea" class="floatwrap">

  <%= render partial: 'layouts/side' %>

  <div id="main">
  <div class="main_header"></div>

    <article id="post-8" class="post-8 page type-page status-publish hentry box-middle post">


    <h2>口コミ情報求む！</h2>


    <p>このたびは、ルームシェア東京をご利用いただきまして誠にありがとうございます。</p>

    <p>ご入力を受付ましたので、ご連絡させていただきます。</p>

    <p><a href="/">トップページへ</a></p>

    </article>


  <div class="main_footer"></div>
  </div><!-- end div#main -->

</div><!-- end div#contentArea -->
</div><!-- end div#content -->
