<div id="content" class="floatwrap">
<div id="contentArea" class="floatwrap">

  <%= render partial: 'layouts/side' %>

  <div id="main">
  <div class="main_header"></div>

    <article id="post-8" class="post-8 page type-page status-publish hentry box-middle post">


    <h2>お問い合わせ</h2>


    <p>このたびは、ルームシェア東京へお問合せ頂き、ありがとうございます。</p>

    <p>お客様からのお問合せを受け付けました。</p>

    <p><a href="/">トップページへ</a></p>

    </article>


  <div class="main_footer"></div>
  </div><!-- end div#main -->

</div><!-- end div#contentArea -->
</div><!-- end div#content -->
