      <div id="news">
        <h6 class="mgnt30"><%= image_tag("main_information.jpg", alt: "ルームシェア東京からのお知らせ", width: "714", height: "44") %></h6>
        <ul>
        <li><span class="green">2013.4.1</span> ルームシェア東京スタートしました</li>
        </ul>
      </div><!-- end div#news -->
